<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.caco"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="br.com.caco.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="br.com.caco.permission.C2D_MESSAGE" />




    <application
        android:allowBackup="true"
        android:icon="@drawable/caco_logo"
        android:label="@string/app_name"
        android:theme="@style/CacoActionBarTheme" >

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver" android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.something.app" />
            </intent-filter>
        </receiver>
        <service
            android:name="br.com.caco.gcm.GcmIntentService" android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="br.com.caco.gcm.GcmIDListnerService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <activity
            android:name=".gui.ProfileActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".gui.FriendsActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.FidelityCardActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".gui.CreateAccountActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".gui.StoreProfileActivity"
            android:theme="@style/Theme.TranslucentActionBar.ActionBar.Overlay">
        </activity>

        <activity android:name="com.android.camera.CropImage"/>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
